<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>달달허니</title>
</head>
<body>
<div style="position: relative; margin-left: 40%; height: 100%; position: relative; background: #FFF6D9">
    <img style="width: 405px; height: 720px; left: 13px; top: 108px; position: absolute; border-radius: 6px" src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fp6DVP%2FbtsJK53MGFV%2FzCk7ef06wUh4usZlAkSWJk%2Fimg.png" />
    <div
            style="width:280px; height: 30px; margin-left: 70px; top: 670px; position: absolute; color: white; cursor:pointer"
            onclick="window.location.href='https://kauth.kakao.com/oauth/authorize?client_id=aeeffb48d21d2171981162a755a54141&redirect_uri=http://localhost:8080/login-kakao&response_type=code'">
        .
    </div>
</div>
</body>
</html>