<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="width: 100%; height: 100%; position: relative; background: #FFF6D9">
    <img style="width: 405px; height: 360px; left: 13px; top: 108px; position: absolute; border-radius: 6px" src="https://via.placeholder.com/405x360" />
    <div style="width: 135px; height: 3.99px; left: 147px; top: 728.65px; position: absolute; background: black; border-radius: 10px"></div>
    <div style="width: 429px; height: 360px; padding-left: 12px; padding-right: 12px; left: 1px; top: 108px; position: absolute; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="width: 405px; height: 360px; padding-top: 348px; padding-bottom: 8px; background: rgba(0, 0, 0, 0.05); border-radius: 6px; border: 1px #6B3F2F solid; justify-content: center; align-items: center; display: flex">
            <div style="align-self: stretch; justify-content: center; align-items: center; gap: 4px; display: inline-flex">
                <div style="width: 20px; height: 4px; background: white; border-radius: 100px"></div>
                <div style="width: 4px; height: 4px; background: #FFF6D9; border-radius: 100px"></div>
                <div style="width: 4px; height: 4px; background: #FFF6D9; border-radius: 100px"></div>
                <div style="width: 4px; height: 4px; background: #FFF6D9; border-radius: 100px"></div>
            </div>
        </div>
    </div>
    <div style="height: 72px; left: 0px; top: 0px; position: absolute; background: #6B3F2F; box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12); flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="width: 430px; height: 24px; position: relative; background: #6B3F2F">
            <div style="width: 33.64px; height: 10.23px; left: 387.64px; top: 6.91px; position: absolute; background: rgba(0, 0, 0, 0.70)"></div>
            <div style="width: 9px; height: 14px; left: 370px; top: 5px; position: absolute; background: rgba(0, 0, 0, 0.70)"></div>
            <div style="width: 14px; height: 14px; left: 347px; top: 5px; position: absolute; background: rgba(0, 0, 0, 0.70)"></div>
            <div style="width: 18.05px; height: 14px; left: 326.98px; top: 5px; position: absolute; background: rgba(0, 0, 0, 0.70)"></div>
        </div>
        <div style="align-self: stretch; padding-top: 12px; padding-bottom: 12px; padding-left: 16px; padding-right: 8px; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
            <div style="flex: 1 1 0; color: #FFF6D9; font-size: 32px; font-family: Spirax; font-weight: 400; line-height: 24px; word-wrap: break-word">Sweet Honey</div>
        </div>
    </div>
    <div style="height: 42px; padding-left: 12px; padding-right: 12px; left: 35px; top: 517px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
        <div style="align-self: stretch; height: 42px; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; background: #FFF6D9; border-radius: 8px; border: 1px #6B3F2F solid; flex-direction: column; justify-content: center; align-items: center; display: flex">
            <div style="color: #6B3F2F; font-size: 16px; font-family: Roboto; font-weight: 500; line-height: 22px; word-wrap: break-word">로그인</div>
        </div>
    </div>
    <div style="height: 42px; padding-left: 12px; padding-right: 12px; left: 35px; top: 517px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
        <div style="align-self: stretch; height: 42px; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; background: white; border-radius: 8px; border: 1px #6B3F2F solid; flex-direction: column; justify-content: center; align-items: center; display: flex">
            <div style="color: #6B3F2F; font-size: 16px; font-family: Roboto; font-weight: 500; line-height: 22px; word-wrap: break-word">로그인</div>
        </div>
    </div>
    <div style="height: 42px; padding-left: 12px; padding-right: 12px; left: 33px; top: 569px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
        <div style="align-self: stretch; height: 42px; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; background: white; border-radius: 8px; border: 1px #6B3F2F solid; flex-direction: column; justify-content: center; align-items: center; display: flex">
            <div style="color: #6B3F2F; font-size: 16px; font-family: Roboto; font-weight: 500; line-height: 22px; word-wrap: break-word">        카카오 로그인</div>
        </div>
    </div>
    <div style="height: 42px; padding-left: 12px; padding-right: 12px; left: 33px; top: 621px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
        <div style="align-self: stretch; height: 42px; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; background: #6B3F2F; border-radius: 8px; border: 1px #6B3F2F solid; flex-direction: column; justify-content: center; align-items: center; display: flex">
            <div style="color: white; font-size: 16px; font-family: Roboto; font-weight: 500; line-height: 22px; word-wrap: break-word">회원가입</div>
        </div>
    </div>
    <div style="height: 42px; padding-left: 12px; padding-right: 12px; left: 33px; top: 621px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
        <div style="align-self: stretch; height: 42px; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; background: #6B3F2F; border-radius: 8px; border: 1px #6B3F2F solid; flex-direction: column; justify-content: center; align-items: center; display: flex">
            <div style="color: white; font-size: 16px; font-family: Roboto; font-weight: 500; line-height: 22px; word-wrap: break-word">회원가입</div>
        </div>
    </div>
    <img style="width: 27px; height: 27px; left: 150px; top: 577px; position: absolute" src="https://via.placeholder.com/27x27" />
</div>
</body>
</html>