<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>달달허니</title>
</head>
<body>
<div style="position: relative; margin-left: 40%; height: 100%; position: relative; background: #FFF6D9">
    <img style="width: 405px; height: 720px; left: 13px; top: 108px; position: absolute; border-radius: 6px" src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fc1xWU2%2FbtsJKhcQ69o%2F4gTWmSKHpwvX4Jof3O58V1%2Fimg.png" />
    <div
            style="width:280px; height: 40px; margin-left: 70px; top: 530px; position: absolute; color: #6B3F2F; cursor:pointer;"
            onclick="window.location.href='http://localhost:8080/sweethoney/regist'">
        .
    </div>
</div>
</body>
</html>